html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

h1, h2, h3, h4, h5, h6 {
  color: #111111; }

.bienvenidos {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #FFF;
  height: 100vh; }
  .bienvenidos .container-fluid {
    padding-right: 0;
    padding-left: 0; }
    .bienvenidos .container-fluid .carousel-inner .img-fluid {
      width: 0; }
  .bienvenidos .container-fluid .carousel-inner .img-fluid {
    width: 100%;
    min-height: 100vh; }
  .bienvenidos .carousel-indicators li {
    background: #333; }
  .bienvenidos .carousel-indicators li.active {
    background: darkgray; }
  .bienvenidos .carousel-indicators {
    bottom: 5px; }

.encabezado {
  background: #111111;
  color: #fff;
  padding: .5rem 0; }

.encabezado .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

/*boton menu*/
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }

.boton-menu:focus {
  outline: 0; }

#menu-principal {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }
  #menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0; }
    #menu-principal ul a {
      display: block;
      padding: .8rem 0;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      border-top: 1px solid #8c8888;
      text-decoration: none; }
  #menu-principal ul a:hover, #menu-principal ul li.active a {
    color: #12AFAF; }

.agencia {
  background: #12AFAF;
  color: #fff;
  padding: 1.5rem 0; }
  .agencia img {
    width: 80%;
    margin: 0 auto;
    display: block; }
  .agencia h2 {
    margin-bottom: 1rem; }

.tu-mejor-eleccion {
  padding: 1rem 0; }
  .tu-mejor-eleccion h2 {
    color: #111111; }
  .tu-mejor-eleccion p {
    color: #111111; }
  .tu-mejor-eleccion span {
    color: #12AFAF; }
  .tu-mejor-eleccion ul {
    list-style: none; }
    .tu-mejor-eleccion ul li {
      min-height: 9rem; }
      .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: .8rem; }
    .tu-mejor-eleccion ul li .fa {
      display: inline-block;
      list-style: none;
      font-size: 2.3rem;
      background: #009500;
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.5rem;
      text-align: center;
      color: #fff; }

.mundo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .mundo img {
    width: 100%; }

.servicios {
  color: #fff;
  padding: 1rem 0;
  background: url("../images/fondo-servicios.jpg") no-repeat center center;
  background-size: cover; }
  .servicios article {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 0; }
  .servicios img {
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem; }
  .servicios h2 {
    color: #fff; }
  .servicios h3 {
    margin: 0;
    font-size: 1.1rem;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    .servicios h3 a {
      color: #FFF;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
    .servicios h3 a::after {
      content: "\f054";
      font-family: FontAwesome;
      font-size: 2rem;
      margin-left: 1rem;
      opacity: .5;
      position: relative;
      left: 0;
      transition: all .5s ease; }
    .servicios h3 a:hover::after {
      opacity: 1;
      left: -.5rem;
      color: #12AFAF; }

.ultimos-cursos {
  padding: 1rem 0; }
  .ultimos-cursos a {
    text-decoration: none; }
    .ultimos-cursos a h4 {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      color: #111111;
      height: 2.3rem; }
  .ultimos-cursos .container {
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto; }
  .ultimos-cursos .container h2 {
    color: #111111;
    margin-bottom: 1rem; }
  .ultimos-cursos .owl-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: .3rem 0; }
  .ultimos-cursos .owl-prev, .ultimos-cursos .owl-next {
    font-size: 3rem;
    margin: 0 .5rem;
    color: #12AFAF;
    transition: all .5s ease; }
  .ultimos-cursos .owl-prev:hover, .ultimos-cursos .owl-next:hover {
    color: #009500; }

.pie-de-pagina {
  font-size: .9rem;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  background: #111111; }
  .pie-de-pagina .redes-sociales {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none; }
    .pie-de-pagina .redes-sociales a {
      color: #fff;
      font-size: 2rem;
      margin: 0 .5rem;
      opacity: .7;
      transition: all .5s ease; }
      .pie-de-pagina .redes-sociales a:hover {
        opacity: 1; }

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #12AFAF;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  transition: all .5s ease; }
  .ir-arriba:hover, .ir-arriba:focus {
    outline: none;
    color: #fff; }

@media screen and (min-width: 768px) {
  #menu-principal {
    height: auto !important;
    display: block;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: auto; }
    #menu-principal ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      #menu-principal ul li a {
        padding: .8rem;
        text-transform: capitalize;
        margin: 0 .3rem;
        border-top: 0px;
        border-bottom: 4px solid transparent;
        transition: all .5s ease; }
      #menu-principal ul li.active a, #menu-principal ul li a:hover {
        color: #12AFAF;
        border-bottom: 2px solid; }
  .servicios article {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1rem 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .servicios article:hover img {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d; }
  .servicios img {
    -webkit-flex: 0 0 160px;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    margin-right: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 1s ease; }
  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .servicios h3 a::after {
      content: ""; }
  .servicios .btn-secondary {
    margin-top: auto; } }

@media screen and (min-width: 992px) {
  html {
    font-size: 16px; }
  .tu-mejor-eleccion ul li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 7rem; }
    .tu-mejor-eleccion ul li .fa {
      text-align: center;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      margin-right: 1rem;
      transition: all 1s ease; }
    .tu-mejor-eleccion ul li:hover .fa {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      background: #12AFAF; }
    .tu-mejor-eleccion ul li p {
      font-size: .85rem; }
  .tu-mejor-eleccion .contenedor-eleccion {
    -webkit-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px; }
  .tu-mejor-eleccion ul li .contenedor-eleccion h4 {
    margin-top: 0;
    font-size: 1rem; }
  .tu-mejor-eleccion ul:first-child .fa {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-left: 1rem;
    margin-right: 0; }
  .mundo img {
    margin-bottom: 5rem; } }
