//--------------------
// Patron de colores
//------------------
$texto: #111111;
$principal: #12AFAF;
$secundario: #009500;

html
{
	font-size: 15px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	color: $texto;
}

h1,h2,h3,h4,h5,h6
{
	color: $texto;
}

.bienvenidos
{
	display: flex;
	flex-direction: column;
	color: #FFF;
	background: url("../images/fondo-encabezado.jpg") no-repeat center top;
	//background: url("../images/proyecto1.jpg") no-repeat center top;
	//background-size: cover;
	background-size: cover;
	height: 100vh;

	& .container-fluid
	{
		padding-right: 0;
		padding-left: 0;

		& .carousel-inner .img-fluid
		{
			width: 0;
		}
	}

	& .container-fluid .carousel-inner .img-fluid
	{
		width: 100%;
		min-height: 100vh;
	}
	& .carousel-indicators li
	{
		background: #333;
	}
	& .carousel-indicators li.active
	{
		background: darkgray;
	}
	& .carousel-indicators
	{
		bottom: 5px;
	}
}

.encabezado
{
	background: $texto;
	color: #fff;
	padding: .5rem 0;
}
.encabezado .container
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.encabezado .logo img
{
	width: 150px;
	height: auto;
}
/*boton menu*/
.boton-menu
{
	border: 0;
	font-size: 2rem;
	margin: 0;
	padding: 0 .5rem;
	background: transparent;
	color: #fff;
}
.boton-menu:focus
{
	outline: 0;
}

#menu-principal
{
	flex: 1 1 100%;
	& ul
	{
		padding: 0;
		list-style: none;
		margin: 1rem 0 0 0;
		& a
		{
			display: block;
			padding: .8rem 0;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			border-top: 1px solid #8c8888;
			text-decoration: none;
		}
	}
	& ul a:hover, & ul li.active a
	{
		color: $principal;
	}
}

// texto encabezado
.texto-encabezado
{
	display: flex;
	flex: 1 1 auto;
	align-items: center;

	& .display-4
	{
		margin-top: 4rem;
		color: #fff;
	}
}
// Seccion Agencia
.agencia
{
	background: $principal;
	color: #fff;
	padding: 1.5rem 0;
	& img
	{
		width: 80%;
		margin: 0 auto;
		display: block;
	}
	& h2
	{
		margin-bottom: 1rem;
	}
}

// tu mejor eleccion
.tu-mejor-eleccion
{
	padding: 1rem 0;
	h2
	{
		color: $texto;
	}

	p
	{
		color: $texto;
	}
	& span
	{
		color: $principal;
	}
	& ul
	{
		list-style: none;
		& li
		{
			min-height: 9rem;
			& .contenedor-eleccion h4
			{
				font-size: 1.2rem;
				font-weight: bold;
				margin-top: .8rem;
			}
		}
		& li .fa
		{
			display: inline-block;
			list-style: none;
			font-size: 2.3rem;
			background: $secundario;
			border-radius: 50%;
			height: 4.5rem;
			width: 4.5rem;
			line-height: 4.5rem;
			text-align: center;
			color: #fff;
		}
	}

}

.mundo
{
	display: flex;
	justify-content: center;
	align-items: center;
	img
	{
		width: 100%;
	}
}
//servicios
.servicios
{
	color: #fff;
	padding: 1rem 0;
	background: url("../images/fondo-servicios.jpg") no-repeat center center;
	background-size: cover;
	& article
	{
		display: flex;
		align-items: center;
		margin: 1rem 0;
	}
	img
	{
		flex: 0 0 60px;
		overflow: hidden;
		margin-right: 1rem;
	}
	h2
	{
		color: #fff;
	}
	h3
	{
		margin: 0;
		font-size: 1.1rem;
		flex: 1 1 auto;
		& a
		{
			color: #FFF;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
		}
		& a::after
		{
			content: "\f054";
			font-family: FontAwesome;
			font-size: 2rem;
			margin-left: 1rem;
			opacity: .5;
			position: relative;
			left: 0;
			transition: all .5s ease;
		}
		& a:hover::after
		{
			opacity: 1;
			left: -.5rem;
			color: $principal;
		}
	}
}


// ultimos proyectos
.ultimos-cursos
{
  padding: 1rem 0;
  & a
  {
	  text-decoration: none;
    & h4
    {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      color: $texto;
		height: 2.3rem;
    }
  }

	& .container
	{
		padding-left: 0;
		padding-right: 0;
		margin-right: auto;
		margin-left: auto;
	}
	& .container h2
	{
		color: $texto;
		margin-bottom: 1rem;
	}

  & .owl-nav
  {
    display: flex;
    justify-content: center;
    margin: .3rem 0;
  }
  & .owl-prev, & .owl-next
  {
    font-size: 3rem;
    margin: 0 .5rem;
    color: $principal;
    transition: all .5s ease;
  }
  & .owl-prev:hover, & .owl-next:hover
  {
    color: $secundario;
  }
}
// pie de pagina
.pie-de-pagina
{
  font-size: .9rem;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  background: $texto;

  & .redes-sociales
  {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    list-style: none;

    & a
    {
      color: #fff;
      font-size: 2rem;
      margin: 0 .5rem;
      opacity: .7;
      transition: all .5s ease;

      &:hover
      {
        opacity: 1;
      }
    }
  }
}

.ir-arriba
{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: $principal;
  text-decoration: none;
  z-index: 99999;
  line-height:0;
  transition: all .5s ease;

  &:hover, &:focus
  {
    outline: none;
    color: #fff;
  }
}

// ESTILOS PAGINA NOSOTROS
.paginas-internas
{
	& .bienvenidos
	{
		height: 50vh;
	}
	& .ruta
	{
		background: $principal;
		padding: 1rem 0;
		color: #fff;
		& a
		{
			color: #fff;
			text-decoration: underline;
			&:hover
			{
				text-decoration: none;
			}
		}
	}
	& .main-nosotros
	{
		padding: 1rem 0;
	}

	#accordion
	{
		& .card-header
		{
			transition: all .5s ease;
			background: $principal;
			&:hover
			{
				background: $secundario;
			}
		}
			& a
			{
				color: #fff;
				text-decoration: none;
				display: block;
			}
		& .card
		{
			margin: .2rem 0;
		}
	}
}


// comienzan los media querys
//--------------------------------

@media screen and (min-width: 768px)
{
	#menu-principal
	{
		height: auto !important;
		display: block;
		flex: 0 1 auto;
		margin-left: auto;

		& ul
		{
			display: flex;
			margin: 0;

			& li a
			{
				padding: .8rem;
				text-transform: capitalize;
				margin: 0 .3rem;
				border-top: 0px;
				border-bottom: 4px solid transparent;
				transition: all .5s ease;
			}
			& li.active a, & li a:hover
			{
				color: $principal;
				border-bottom: 2px solid;
			}
		}
	}

	// servicios
	.servicios
	{
		& article
		{
			flex-direction: column;
			margin: 1rem 0;
			align-items: center;
			text-align: center;

			&:hover img
			{
				transform: rotateY(360deg);
				transform-style: preserve-3d;
			}
		}
		& img
		{
			flex: 0 0 160px;
			margin-right: 0;
			margin-bottom: 1rem;
			overflow: hidden;
			transition: all 1s ease;
		}
		& h3
		{
			margin: 0 0 .5rem 0;
			font-size: 1.5rem;
			flex: 0 1 auto;
			& a::after
			{
				content: "";
			}
		}

		.btn-secondary
		{
			margin-top: auto;
		}
	}
} // fin de media querys para tables

@media screen and (min-width: 992px)
{
	html
	{
		font-size: 16px;
	}

	.tu-mejor-eleccion
	{
		&  ul li
		{
			display: flex;
			min-height: 7rem;
			& .fa
			{
				text-align: center;
				flex: 0 1 auto;
				margin-right: 1rem;
				transition: all 1s ease;
			}
			&:hover .fa
			{
				transform: rotateY(360deg);
				transform-style: preserve-3d;
				background: $principal;
			}
			& p
			{
				font-size: .85rem;
			}
		}

		& .contenedor-eleccion
		{
			flex: 1 0 0px;
		}
		& ul li .contenedor-eleccion h4
		{
			margin-top: 0;
			font-size: 1rem;
		}
		& ul:first-child .fa
		{
			order: 1;
			margin-left: 1rem;
			margin-right: 0;
		}
	}
	.mundo img
	{
		margin-bottom: 5rem;
	}
	.bienvenidos .container-fluid .carousel-inner .img-fluid
	{
		width: 100%;
		height: 40.625rem;
	}
}




